body {
  margin: 0;
}
#login {
  display:grid;
  grid-template-rows: 3;
  grid-row-gap: 10px;
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -128px;
  margin-top: -180px;
}
#title {
  font-family: Roboto Mono;
  font-size: 56px;
  text-align: center;
  color: #4B87FF;
}
#submit-button {
  background-color:#4B87FF;
  color: white;
  font-family: Roboto Mono;
  border-style: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 4px;
}
input {
  font-family: Open Sans;
  font-size: 18px;
  max-width: 100%;
  border: 1px solid lightgrey;
  border-style: solid;
  border-radius: 7px;
  padding: 3.5px;
  padding-left: 5px;
  -webkit-appearance: none;
}
#nav-title {
  font-family: Roboto Mono;
  font-size: 40px;
  color: white;
  padding-left: 10px;
}

.nav {
  margin: 0;
  position: sticky;
  background-color: #4B87FF;
  overflow: hidden;
  box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.3);
}

.logout {
  font-family: Roboto Mono;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  color: white;
  border-style: none;
  background-color: transparent;
}
.logout-form {
  padding-top: 10px;
  float: right;
  padding-right: 5px;
  box-shadow:
}
